
:root {
  --verde: #466E38;
  --fundo: #F5F7FA;
  --cinza: #CFCFCF;
  --texto: #383737;
  --verdeclaro: #56BF31;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.list-section {
  background: white;
  padding: 3rem 4rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  width: 90%;
  margin: 2rem auto;
}

.list-section h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: var(--azul);
}

a {
  border: 2px solid #2c2c2c;
  background-color: var(--verde);
  color: #ffffff;
  font-size: 1.2rem;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(124, 255, 117, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.btn:hover::after {
  transform: scale(4);
}

.btn:hover {
  border-color: var(--verdeclaro);
  background: var(--verdeclaro);
}

.table-container {
  overflow-x: auto;
  margin: 2rem 0;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: var(--azul);
}

th, td {
  padding: 0.9rem 1rem;
  border-bottom: 1px solid var(--cinza);
}

tbody tr:hover {
  background-color: #e0fdd5;
}

td.actions-cell {
  text-align: center;
}

button.action {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 5px;
  transition: transform 0.2s;
}

button.action:hover {
  transform: scale(1.1);
}

button.edit {
  color: var(--azul);
}

button.delete {
  color: var(--vermelho);
}

.loading {
  text-align: center;
  color: var(--verdeclaro);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
